:root{
     --clr-yellow: #FCB72B;
     --clr-dark-navy: #495567;
     --clr-dim-grey: #939CAA;
     --clr-light-grey: #E5ECF4;
     --clr-snow: #F2F5F9;
     --clr-light-yellow: #FFF4DF;

     --h1-56: 5.6rem;
     --h2-48: 4.8rem;
     --h3-40: 4rem;
     --h4-24: 2.4rem;
     
     --body-15: 1.5rem;
     --body-18: 1.8rem;
}

.title h3{
    padding: 6rem 8.4rem;
}

/* map */

#map{
     margin-top: 7.2rem;
}

#map img{
     display: block;
     margin: 0 auto;
     margin-bottom: 4rem;
     min-width: 31.1rem;
}

#map .countries{
     display: flex;
     flex-direction: column;
     gap: 1.6rem;
     align-items: center;
     justify-content: center;
}

#map .countries h4{
     padding-top: 2.2rem;
     padding-bottom: 2.2rem;
     text-align: center;
     background-color: var(--clr-light-yellow);
     width: 100%;
     min-width: 31.1rem;
}

.hide+img ,.hide+img+img, .hide+img+img+img{
     display: none !important;
}

/* message */
#message{
     margin: 7.2rem 0;
}

.message-row{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     gap: 3.2rem;
}

.msg-btn{
     color: white;
     padding: 1.4rem 4.4rem;
}

@media (min-width:460px){
     .hide{
          display: none !important;
     }

     .hide+img{
          display: block !important;
          width: 100%;
     }
}

@media (min-width:768px){
     .hide+img{
          display:none !important;
     }

     .hide+img+img{
          display: block !important;
     }

     .countries{
          display: none !important;
     }

     #message{
          margin: 6.4rem 0 12rem;
     }

     #message .container{
          padding: 0 10rem 0 9.7rem;
     }

     .message-row{
          gap: 4rem;
     }
}

@media (min-width:1057px){
     .message-row p{
          padding: 0 14rem;
     }
}

@media (min-width:1440px) {
     .hide+img+img+img{
          display: block !important;
     }

     .hide+img+img{
          display: none !important;
     }

     #message{
          margin: 12rem 0;
     }

     #message .container{
          padding: 0 16.4rem;
     }

     .message-row{
          flex-direction: row;
          text-align: start;
          gap: 6.4em;
     }

     .message-row p{
          padding: 0;
          max-width: 445px;
     }

     .message-row h2{
          width: 351px;
     }
}